# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# SQLite database
*.db

# Configuration files
.env
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

